@media (max-width: 1440px) {

}
@media (max-width: 1200px) {
  .header {
    &--logo {
      &__image {
        img {
          margin-right: 40px;
          width: 90%;
        }

      }

      &__advertising {
        a {
          padding: 0 20px;

        }
      }

      &__advertisingtwo {

        a {
          max-width: 100px;
          padding:  0 20px;
          font-weight: 400;
          font-size: 14px !important;
        }
      }

      &__advertisingthree {
        a {
          padding:  0 20px;
        }
      }

      &__advertisingend {
        a {
          font-size: 9px !important;

        }

      }

      &__contact {
        margin-left: 20px;
        &__one {

        }
        &--midl {
          font-size: 20px !important;
        }




      }
    }
  }
}
@media (max-width: 1090px) {
  #header {
    .header {
      &--logo {
        &__advertising {
          a {
            width: 137px;


          }


        }

        &__contact {

          &--midl {
            font-size: 18px !important;

          }
        }

      }
    }
  }
}
@media (max-width: 1180px) {
  #header {
    .header {
      &--logo {
        &__advertisingend {
          a {
            font-size: 9px !important;

          }

        }
      }
    }
  }
}
@media (max-width: 1024px) {

  #header {
    .header {
      &--logo {

        &__advertising {
          display: none !important;
        }

        &__advertisingtwo {
          display: none !important;

        }

        &__advertisingthree {
          display: none !important;

        }

        &__advertisingend {
          display: none !important;

        }

        &__contact {
          display: none !important;
        }

      }
      &--nav {
        display: none !important;

      }
    }
  }
}
@media (max-width: 992px) {

  .hamburger-menu {
    display: block;
  }


      }
@media (max-width: 768px) {

}
@media (max-width: 1440px) {

}
@media (max-width: 1440px) {

}
@media (max-width: 1440px) {

}
@media (max-width: 1440px) {

}
@media (max-width: 1440px) {

}
@media (max-width: 1440px) {

}