@media (max-width: 1440px) {
}

@media (max-width: 1200px) {
  #hero {
    .hero {
      &--group {
        flex-wrap: wrap;
        align-items: center;
      }

    }
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}

@media (max-width: 451px) {
  //#hero {
  //  .hero {
  //    &--group {
  //      &--first {
  //        &--img {
  //          img {
  //            width: 90%;
  //          }
  //        }
  //
  //      }
  //    }
  //
  //  }
  //}
}

@media (max-width: 400px) {
  #hero {
    .hero {
      h1 {
        min-width: 16px;
      }

      &--group {

        &--first {
          &--img {
            width: 90%;
          }

        }

        &--second {
          &--img {
            width: 90%;
          }

        }

        &--third {
          &--img {
            width: 90%;
          }

        }

}
@media (max-width: 1200px) {
  .header {
    &--logo {
      &__image {
        img {
          margin-right: 40px;
          width: 90%;
        }

      }

      &__advertising {
        a {
          padding: 0 20px;

        }
      }

      &__advertisingtwo {

        a {
          max-width: 100px;
          padding:  0 20px;
          font-weight: 400;
          font-size: 14px !important;
        }
      }

      &__advertisingthree {
        a {
          padding:  0 20px;
        }
      }

      &__advertisingend {
        a {
          font-size: 9px !important;

        }

      }

      &__contact {
        margin-left: 20px;
        &__one {

        }
        &--midl {
          font-size: 20px !important;
        }


      }
    }
  }
}
@media (max-width: 1090px) {
  #header {
    .header {
      &--logo {
        &__advertising {
          a {
            width: 137px;

          }
        }

        &__contact {

          &--midl {
            font-size: 18px !important;

          }
        }

      }
    }
  }
}

@media (max-width: 376px) {
  #hero {
    .hero {
      h1 {
        min-font-size: 16px;
        font-size: 40px;
@media (max-width: 1180px) {
  #header {
    .header {
      &--logo {
        &__advertisingend {
          a {
            font-size: 9px !important;

          }

        }
      }
    }
  }
}

@media (max-width: 320px) {
  #hero {
    .hero {
      h1 {
@media (max-width: 1024px) {

  #header {
    .header {
      &--logo {

        &__advertising {
          display: none !important;
        }

        &__advertisingtwo {
          display: none !important;

        }

        &__advertisingthree {
          display: none !important;

        }

        &__advertisingend {
          display: none !important;

        }

        &__contact {
          display: none !important;
        }

      }
      &--nav {
        display: none !important;

      }
    }
  }
}
@media (max-width: 992px) {

  .hamburger-menu {
    display: block;
  }


      }
@media (max-width: 768px) {

}
@media (max-width: 1440px) {

}
@media (max-width: 1440px) {

}
@media (max-width: 1440px) {

}
@media (max-width: 1440px) {

}
@media (max-width: 1440px) {

}
@media (max-width: 1440px) {

}
