@mixin space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin start {
  display: flex;
  justify-content: space-between;

  align-items: start;
}
@mixin center {
  display: flex;
  align-items: center;
  max-width: 200px;
}
@mixin paragraph {
  font-family: 'Gilroy',sans-serif;
  font-weight: 440;
  font-size: 12px;
}
